<div class="header-2">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
      <div class="container">
          <a class="navbar-brand mb-0" href="">Music State</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-bar"></span>
              <span class="navbar-toggler-bar"></span>
              <span class="navbar-toggler-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              
              <ul class="navbar-nav ml-auto">
                  <a href="https://drive.google.com/file/d/14YXiOPwQlWPseZH8OVxM9nk5KdfkjlDp/view?usp=sharing" id="color" target="_blank" class="btn btn-link btn-neutral" >Docs</a>
                  <a href="https://github.com/vale314" class="btn btn-link btn-neutral" target="_blank" id="color" > © Valentine_Alejandro</a>
                  <a href="https://www.instagram.com/valentine_alejandro/" target="_blank" id="color" class="btn btn-link btn-neutral" >Valentine_Alejandro<i class="fa fa-instagram" aria-hidden="true"></i></a>
              </ul>
          </div>
      </div>
  </nav>

  <div class="page-header" style="background-image: url('https://images.pexels.com/photos/713108/pexels-photo-713108.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
      <div class="filter"></div>
      
      <div class="content-center">
          <div class="container">
              <div class="row">


                  <div class="col-md-8 ml-auto mr-auto text-center" >



                      <h1 class="title"> {{text}}</h1>
                      <!--<h5 class="description">Now you have no excuses, it's time to surprise your clients, your competitors, and why not, the world. You probably won't have a better chance to show off all your potential if it's not by designing a website for your own agency or web studio.</h5>-->
                      <br>

                      
                      <div style="background-color: #d9534f" class="alert alert-info"  [ngClass]="salir?'show ':'notShow'">
                          <div class="container">
                              <span>Error! </span>
                          </div>
                      </div>

                      <div class="alert alert-info"  [ngClass]="end?'show ':'notShow'">
                          <div class="container">
                              <span>Excelente Disfruta Tu Cancion! </span>
                          </div>
                          <div class="container">
                                <span>By: Valentine_Alejandro </span>
                            </div>
                      </div>

                  </div>

                  


                  <div class="col-md-10 ml-auto mr-auto">
                      <div class="card card-raised card-form-horizontal no-transition">
                          <div class="card-body">
                              <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                                  <div class="row">
                                      
                                      <div class="col-md-9">
                                          <div class="form-group">
                                              <input type="text" value="" [attr.disabled]="salir||end?'':null" placeholder="Text" class="form-control" name="text" ngModel required #first="ngModel">
                                          </div>
                                      </div>
                                      <div class="col-md-3" *ngIf="!(salir||end)">
                                          <button type="submit"  class="btn btn-danger btn-block"><i class="nc-icon nc-zoom-split"></i> &nbsp; Search
                                      </button></div>
                                      <div class="col-md-3" *ngIf="salir||end">
                                          <button (click)="reset()" type="reset" class="btn btn-danger btn-block"><i class="nc-icon nc-zoom-split"></i> &nbsp; Reiniciar
                                      </button></div>
                                  </div>
                              </form>
                          </div>
                          
                      </div>
                      
                      
                  </div>
                </div>
                <h3 class="title">Centro Universitario De Ciencias Exactas E Ingenierias</h3>
          </div>
      </div>
  </div>
</div>